:root{
    --text_orange: #ea4b2f;
    --text_white: #ffffff;
    --text_grey: #ced4da;
    --regular_orange: #ff6b35;
    --regular_hell_gelb: #fffaec;
    --regular_gelb: #f9fede;
    --regular_hell_gruen: #d7f8db;
    --regular_gruen: #aadcb0;
    --regular_grey_transparent:#000000b7;
}